.ViewTodo {
  position: relative;
  width: 60vw;
  height: 70vh;
  border-radius: 30px;
  box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.1);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
